@import "variables";

.header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 28px 0;

    .logo-cell {
        position: relative;
        margin-right: 15px;
        padding: 14px 0;
        float: left;
        height: 100%;
    }

    .logo-container {
      height: 100%;
      img {
        height: 100%;
        vertical-align: top;
      }
    }

    a {
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .badge {
        background-color: transparent;
        border: 1px solid $color-gray-20;
        color: $color-gray-20;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            float: left;
            padding: 0 14px;
            cursor: pointer;

            i {
                font-weight: normal;
            }
        }

        &.__narrow li {
            padding: 0 4px;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .menu.lvl1 {
        height: 64px;
        line-height: 64px;
        color: white;
        background-color: $header-lvl1-bg;
        min-width: $min-width;

        .container {
            height: 100%;
            display: flex;
            padding: 0 14px;
        }

        .menu-left {
          flex-grow: 1;
        }

        a {
            color: #fff;

            .fa-angle-down {
                min-width:11px;
            }
        }

        li {
            &:hover, &.active {
                background-color: $header-lvl1-active;
            }
        }
    }

    .menu.lvl2 {
        width: 100%;
        background-color: $background-grey;
        min-width: $min-width;
        border-bottom: 1px solid $color-gray-90;

        ul {
            margin-left: -10px;
        }

        li {
            padding: 0 10px;
            // rename with `active`
            &:hover > a {
                color: $color-blue;
                border-bottom-color: $color-blue;
            }

            &.active > a {
                color: #000;
                border-bottom-color: #19191c;
            }
        }

        a {
            color: $color-gray-20;
            line-height: 50px;
            border-bottom: 4px solid transparent;
            text-decoration: none !important;
            transition: color .2s ease, border-color .2s ease;

            &:hover {
                color: $color-blue;
                border-bottom-color: $color-blue;
                text-decoration: none !important;

            }
        }

        &.for-students {
            li {
                &.active > a {
                    border-bottom-color: $color-orange;
                }

            }
        }

        &.for-teachers {
            li {
                &.active > a {
                    border-bottom-color: $color-blue;
                }

            }
        }

        &.for-staff {
            li {
                &.active > a {
                    border-bottom-color: darken($color-gray-20, 5%);
                }

            }
        }
    }

    .members-area-link {
        float: right;
        display: inline-block;
        margin-right: 5px;
    }
}

#login {
    text-align: center;
    padding-left: 0;

    .logout-url {
        font-weight: normal;
    }
    ul {
        margin: 0;
        padding: 6px 0;
    }
    li {
        float: none;
        padding: 0;

        a {
            padding: 5px 24px;
            color: $color-gray-20;
            line-height: 24px;
            text-decoration: none !important;
        }
    }

    .dropdown {
        float: right;
        padding: 0;

        &.open,
        &.show,
        &:hover {
            background-color: $header-lvl1-active;
        }
    }

    .divider {
        margin: 6px 0;
        &:hover {
            background-color: $color-gray-90;
        }
    }

    .dropdown-menu {
        border-radius: 2px;
        min-width: 220px;
        padding: 8px 0;
        font-size: 0.95rem;
        line-height: 1.5;

        li {
            padding: 0;

            a {
                padding: 8px 24px;
                line-height: 1.5;
                text-decoration: none !important;

                &:hover {
                    color: $color-blue;
                    background-color: $background-grey;
                }
            }
            &.dropdown-header {
                padding: 6px 24px 4px;
                font-size: 0.85rem;
                color: $color-gray-48;
                cursor: default;

                &:hover {
                    background: transparent;
                    color: $color-gray-48;
                }
            }
        }
    }

}

#user-menu {
    text-decoration: none!important;
    display: inline-block;
    padding: 0 14px;

    .caret {
        border-width: 5px;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 4px;

        &._empty {
            width: 36px;
            height: 36px;
        }
    }
}
